.book-item {
  display: grid;
  grid-template-columns: 43% 57%;
  height: 10.625rem;
  margin: 0 6.5rem 0.938rem 6.5rem;
  padding: 2rem 7.438rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-two);
}

.book-category {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.book-title {
  margin: 0.188rem 20.188rem 0 0;
  font-family: RobotoSlab;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.book-author {
  margin: 0.25rem 0 0;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-buttons {
  margin: 0.988rem 0.938rem 0.125rem 0;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #fff;
  color: #4386bf;
  border: none;
}

.remove-btn {
  border-left: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}

.Line-2 {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
}

.Oval-2 {
  width: 4.25rem;
  height: 4.25rem;
  border: solid 5px #e8e8e8;
  border-bottom: 5px solid #307bbe;
  border-right: 5px solid #307bbe;
  border-top: 5px solid #307bbe;
  border-radius: 45px;
}

.progress-status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
