.book-item {
  display: grid;
  grid-template-columns: 43% 57%;
  height: 10.625rem;
  margin: 0 6.5rem 0.938rem 6.5rem;
  padding: 2rem 7.438rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-two);
}

.book-category {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.book-title {
  margin: 0.188rem 20.188rem 0 0;
  font-family: RobotoSlab;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.book-author {
  margin: 0.25rem 0 0;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-buttons {
  margin: 0.988rem 0.938rem 0.125rem 0;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #fff;
  color: #4386bf;
  border: none;
}

.remove-btn {
  border-left: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}

.Line-2 {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
}

.Oval-2 {
  width: 4.25rem;
  height: 4.25rem;
  border: solid 5px #e8e8e8;
  border-bottom: 5px solid #307bbe;
  border-right: 5px solid #307bbe;
  border-top: 5px solid #307bbe;
  border-radius: 45px;
}

.progress-status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.completion-status {
  gap: 30px;
}

.complete-percent {
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.curent-status h3 {
  width: 7.875rem;
  height: 1.125rem;
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
  text-transform: uppercase;
}

.curent-status p {
  width: 4.688rem;
  height: 1.313rem;
  font-family: RobotoSlab;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.Update-progress-btn {
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #e8e8e8;
  width: 11.5rem;
  height: 2.063rem;
  margin-top: 0.75rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
}
