.book-item {
  display: grid;
  grid-template-columns: 43% 57%;
  height: 10.625rem;
  margin: 0 6.5rem 0.938rem 6.5rem;
  padding: 2rem 7.438rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-two);
}

.Line-2 {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
}

.Oval-2 {
  width: 4.25rem;
  height: 4.25rem;
  border: solid 5px #e8e8e8;
  border-bottom: 5px solid #307bbe;
  border-right: 5px solid #307bbe;
  border-top: 5px solid #307bbe;
  border-radius: 45px;
}

.progress-status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
