.input-section {
  margin: 3rem 6.5rem 0.938rem 6.5rem;
  padding-top: 2rem;
  border-top: solid 1px #e8e8e8;
}

.form-field {
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-two);
}
