.input-section {
  margin: 3rem 6.5rem 0.938rem 6.5rem;
  padding-top: 2rem;
  border-top: solid 1px #e8e8e8;
}

.form-field {
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.input-submit {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  width: 8.938rem;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  color: #fff;
}

.add-book-title {
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.form-input {
  width: 23rem;
}

.form-input:focus,
.categories:focus {
  outline: none;
  border: 2px solid #888;
}
