.panel-bg {
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #e8e8e8;
  background-color: #fff;
}

.user-icon {
  color: #0290ff;
  font-size: 40px;
  margin-left: auto;
}

.logo {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: 'Montserrat', serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.navigation-menu {
  display: flex;
  flex-direction: row;
}

.navigation-menu li {
  margin-top: 18px;
}

.text-decoratrion {
  text-decoration: none;
}

.menu-item {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat', serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.navigation-menu li :hover {
  opacity: 0.5;
}
